.buttonContainer {
  position: absolute;
  right: 20px;
  top: 60px;
  }
 
.button_header_items,
.button_header_profile {
  color: #87a1b0;
  border: none;
  background-color: transparent;
} 
.cart,
.profile {
  width: 30px;
  height: 30px;

}

.cart {
  margin-right: 20px;
}

.snipcart-items-count{
  position: absolute;
  top: -17px;
  left: 35px;
}
@media screen and (max-width: 980px) {
  .buttonContainer {
    position: absolute;
    right: 30vw;
    top: 60px;
    }
}



