/* .nav_bar {
  max-width: 50vw;
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  margin-left:20%;
  margin-top: -70px;
  font-size: 20px;
  color: black;
  
}

.navbar-collapse {
  background-color: #efefef;
} */

.logo {
  max-width: 105px;
  margin-left: 15px;
  margin-top: 3px;
  margin-bottom: auto;
  margin-right: auto;
  position: relative;
}

.hamburguer {
  position: absolute;
  left: 80vw;
}

.hola {
  left: 80px
}