.ItemDetail_img {
    border-radius: 20px;
    border-width: 10px;
    border-color: #87a1b0;
    border-style: solid;
    max-height: 500px;
    max-width: 500px;
}
.ItemDetail_contDetalles {
    margin-left: 400px;
}

.ItemDetail_Descrip {
    width: 700px;
}
.ItemDetail_textos {
    margin-top: 0px;
}
.back {
    width: 700px;
    background-color: #87a1b0;
  border-radius: 30px;
  border-width: 2px;
}

@media screen and (max-width: 980px) {
    .ItemDetail_textos{
        margin-top: 0px;
        margin-left: -100vw;
    }
    .ItemDetail_Descrip {
        width: 70vw;
    }
    .back {
        width: 70vw;
    }
  }
  